In [2]:
import numpy as np 
import pandas as pd

data = {'country': ['Italy','Spain','Greece','France','Portugal'],
        'popu': [61, 46, 11, 65, 10],
        'percent': [0.83,0.63,0.15,0.88,0.14]}

df = pd.DataFrame(data, index=['ITA', 'ESP', 'GRC', 'FRA', 'PRT'])
df

      country  popu  percent
ITA     Italy    61     0.83
ESP     Spain    46     0.63
GRC    Greece    11     0.15
FRA    France    65     0.88
PRT  Portugal    10     0.14

In [3]:
df.percent = 0.001*df.popu   # Data in 'percent' and 'popu' columns are autonatically aligned  
df

      country  popu  percent
ITA     Italy    61    0.061
ESP     Spain    46    0.046
GRC    Greece    11    0.011
FRA    France    65    0.065
PRT  Portugal    10    0.010

In [7]:
def squared(x):
    return x**2

print(list(map(squared,(1,2,3,4,5))))

[1, 4, 9, 16, 25]